.issue {
  padding: 10px 0;

  &__flags {
    margin-top: 10px;
  }

  &__section {
    margin: 25px 0;

    &__text {
      line-height: 1.5;
    }
  }

  &__cta {
    position: fixed; 
    bottom: 70px;
    right: 0;
    left: 0;
  }
}