a {
  color: inherit;
}

body {
  margin-top: 50px;
  margin-bottom: 50px ;
}

.header {
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.flag {
  display: inline-block; 
  padding: 5px 20px;
  border-radius: 8px;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  margin-right: 8px;
}

.flag--urgent {
  background-color: #FF6363;
}

.flag--time {
  background-color: #FD980D;
}
