a {
  color: inherit;
}

body {
  margin-top: 50px;
  margin-bottom: 50px ;
}

.header {
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.flag {
  display: inline-block; 
  padding: 3px 20px;
  border-radius: 8px;
  color: white;
  letter-spacing: 1px;
  margin-right: 8px;
  font-size: 16px;
}

.flag--urgent {
  text-transform: uppercase;
  background-color: #FF6363;
  font-weight: 500;
}

.flag--time {
  background-color: #FD980D;
}

.cta {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  width: 280px;
  height: 45px;
  background-color: #63C0D2;
  text-align: center;
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300; 
  font-size: 16px;
}

.cta--inverse {
  background-color: white;
  color: #63C0D2;
  border: 3px solid #63C0D2;
}
